html, body, main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

main{
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: azure;
  align-items: center;
  margin-top: 3.5em;
  justify-content: flex-start;
  width: 60%;
}


footer{
  position: fixed;
  width: 10%;
  bottom: 0%;
  background-color: azure;
  text-align: end;
  right: 0%;
}

#carousel{
  width: 100%;
  margin-bottom: 1em;
}

header{
  padding-top: 1em;
  padding-bottom: 1em;
  position: absolute;
  width: 100%;
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  top:0%;
  background-color: rgb(159, 178, 178);
  color: black;
}
nav a{
  color: white;
  margin-left : 1em;
  padding-left: 1em;
  padding-right: 1em;
  border-right: solid thin white;
  border-left: solid thin white;
}

nav a:first-child{
  margin-left: 0%;
}

nav a:hover{
  color: rgb(125, 223, 223);
}

.bodyDark{
  background-color: #1C2833;
  color: white;
}

.bodyWhite{
  background-color: azure;
  color: black;
}

.headerDark{
  background-color:#121a21;
  color: white;
}

.headerWhite{
  background-color: rgb(159, 178, 178);
  color: black;
}


@media screen and (max-width : 1000px )
{
  main{
    display: flex;
    flex-direction: column;
  }
}

a:visited{
  color: white;
}

#divColor{
  position: absolute;
  right: 1em;
}

#divOnglet{
  width: 100%;
}

#divOnglet nav{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121a21;
}

.btnOnglet{
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 1em;
  margin-right: 1em;
}


.imgVerti{
  position: relative;
  width: 48%;
}

.imgHori{
  position: relative;
  width: 100%;
}

img{
  padding-bottom: 2%;
  position: relative;
  width: inherit;
}

#divImage1{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#nav-tab{
  margin-bottom: 1em;
}

#carousel div button{
  background-color: transparent;
  border: none;
  padding: none;
  margin: none;
}