html, body, main 
{
  width: 100%;
  margin: 0;
  padding: 0;
  height: fit-content;
  min-height: 100%;
  background-color: azure;
}

body{
  display: flex;
  justify-content: center;
  min-height: 100%;
  position: absolute;
}

main{
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1em;
}

footer{
  position: fixed;
  width: 10%;
  bottom: 0%;
  right: 0%;
  text-align: end;
}

.imgVerti{
  position: relative;
  width: 48%;
}

.imgHori{
  position: relative;
  width: 100%;
}

img{
  padding-bottom: 2%;
  position: relative;
  width: inherit;
}



.imgVertiFull{
  padding: 0%;
  margin-right: 0%;
  position: absolute;
  top: 5%;
  margin-bottom: 5%;
  max-height: 90%;
  width: auto;
}
  
.imgHoriFull{
  padding: 0%;
  margin-right: 0%;
  position: absolute;
  top: 5%;
  margin-bottom: 5%;
  max-width: 50%;
  height: auto;
}

.imgHide{
  display: none;
}
  
  
.divInfoHide{
  display: none;
}
  
.divInfoShow{
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 5%;
  right: 1%;
}
  
.divInfoShow button{
  width: min-content;
}
  
.bodyDark{
  background-color: #1C2833;
  color: white;
}
  
.bodyWhite{
  background-color: azure;
  color: black;
}

#divAccueil{
  position: absolute;
  display: flex;
  top: 5%;
  left: 1%;
  flex-direction: column;
  align-items: stretch;
}